/* Synth module unit */
form[is="synth-module"] {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 0.5rem;
	margin: 1rem 1rem 2rem 1rem;
	padding: 1rem;
	background-color: lightgrey;
}

form[is="synth-module"] h2 {
	width: 100%;
	margin: -0.5rem 0rem 0.75rem 0rem;
}

/* Fieldsets */
form[is="synth-module"] fieldset {
	border: 1px solid black;
	border-radius: 0.25rem;
}

form[is="synth-module"] fieldset legend {
	font-weight: bold;
}

/* Primary outer fieldset */
form[is="synth-module"] > fieldset {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	padding: 0.75rem;
	column-gap: 0.5rem;
}

form[is="synth-module"] > fieldset > legend {
	text-transform: uppercase;
}

/* Secondary inner fieldset */
form[is="synth-module"] fieldset fieldset {
	border-color: grey;
}

/* Parameter input */
form[is="synth-module"] fieldset div {
	display: block;
	margin-bottom: 0.2rem;
}

form[is="synth-module"] fieldset div label {
	display: inline-block;
	width: 7ch;
}

form[is="synth-module"] fieldset div button,
form[is="synth-module"] fieldset div select,
form[is="synth-module"] fieldset div input {
	margin: 0rem 1rem;
	cursor: pointer;
	vertical-align: middle;
	accent-color: darkslategrey;
}

form[is="synth-module"] fieldset div select,
form[is="synth-module"] fieldset div input {
	width: 30ch;
}

form[is="synth-module"] fieldset div span {
	display: inline-block;
	width: 8ch;
	font-size: 0.7rem;
}

form[is="synth-module"] fieldset fieldset:first-of-type div span {
	width: 14ch;
}

form[is="synth-module"] fieldset fieldset:last-of-type div span {
	width: 12ch;
}

form[is="synth-module"] fieldset div select:focus,
form[is="synth-module"] fieldset div input:focus {
	background-color: lightgray;
	accent-color: gray;
}

/* Toggle input */
div[is="toggle-input"] button {
	width: 1rem;
	height: 1rem;
	background-color: red;
}

div[is="toggle-input"] button:has(input[checked]) {
	background-color: green;
}

/* Module add/remove buttons */
form[is="synth-module"] div[is="module-buttons"] {
	position: absolute;
	bottom: -0.75rem;
}

form[is="synth-module"] div[is="module-buttons"] button {
	font-weight: bold;
	width: 4rem;
	height: 1.5rem;
	margin-right: 0.3rem;
}

form[is="synth-module"]:only-of-type div[is="module-buttons"] button:last-child {
	cursor: not-allowed;
}

