body {
	margin: 0;
	margin-bottom: 40vh;
	font-family: monospace;
}

button {
	cursor: pointer;
}

div[is="synth-rack"] header {
	margin: 0.5rem 1rem 0rem 1rem;
	display: flex;
	flex-direction: row;
	column-gap: 0.4rem;
}

div[is="synth-rack"] header h1 {
	margin: 0rem;
	flex-grow: 1;
}

dialog.activate {
	padding: 2rem;
	border-radius: 1rem;
}

dialog.activate button {
	font-size: 1.5rem;
}

dialog.activate::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}
