div[is="keyboard-controller"] {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: white;
	border-top: 1px solid black;
	padding: 0.2rem 0rem 0.5rem 0rem;

	/* Prevent browser zooming on double click */
	touch-action: manipulation;
}

	div[is="qwerty-rail"] {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 1vh;
		background-color: black;
		cursor: grab;
	}

	div[is="qwerty-rail"].grabbed {
		cursor: grabbing;
	}
	
	div[is="qwerty-handle"] {
		height: 80%;
		background-color: yellow;
	}

	div[is="keyboard-keys"] {
		position: relative;
		max-height: 40vh;
		height: 5rem;
	}

		button[is="keyboard-key"] {
			position: absolute;
			cursor: pointer;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: end;
		}

		button[is="keyboard-key"].white-key {
			background-color: white;
			height: 100%;
			z-index: 10;
			color: black;
		}

		button[is="keyboard-key"].black-key {
			background-color: black;
			height: 70%;
			z-index: 20;
			color: white;
		}

		button[is="keyboard-key"]:hover {
			background-color: lightgray;
		}

		button[is="keyboard-key"].key-pressed {
			background-color: gray;
		}

