body {
	position: relative;
}

div.control {
	display: inline-block;
	background-color: rgb(200, 200, 200);
	position: relative;
}
	div.control h3 {
		margin: 0.3rem;
	}

	div.control button.handle {
		background-color: black;
		cursor: move;
	}
